<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Build a decision tree</title>

  <!--<link rel="stylesheet" href="/css/page.css"/>-->

  <link href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" type="text/css" href="/css/chartjsInteractive.css">
  <link rel="stylesheet" type="text/css" href="/css/water.css">

  <link rel="stylesheet" href="/css/cards.css"/>
  <link rel="stylesheet" href="/css/decision-tree.css"/>
  <link rel="stylesheet" href="/css/switch.css"/>

  <script src="/js/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.js"></script>
  <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.js"></script>
  <script src="https://unpkg.com/chart.js@3"></script>
  <script src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3"></script>
  <script src="/js/chartjs/controller.js"></script>
  <script src="/js/nav.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
  <script src="/js/libraries/Sortable.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <script src="/js/dragdrop.js"></script>
  <script src="/js/switch.js"></script>
  <script src="/js/cards.js"></script>
  <script src="/js/decision-tree.js"></script>
</head>

<body>

  <div class="sidebar">
    <img class="odi-logo" src="/assets/odi-logo.png">
    <ul>
      <li class="arrow-icon"><a href="#instructions" class="toggle-link">Instructions</a></li>
      <li class="arrow-icon"><a href="#table" class="toggle-link">Download training data</a></li>
      <li class="arrow-icon"><a href="#charts" class="toggle-link">Explore training data</a></li>
      <li class="arrow-icon"><a href="#training" class="toggle-link">Build your model</a></li>
      <li class="arrow-icon"><a href="#test" class="toggle-link">Test your model</a></li>
      <li class="arrow-icon"><a href="#evaluation" class="toggle-link">Evaluate your model</a></li>
      <li class="arrow-icon"><a href="#leaderboards" class="toggle-link">Leaderboards</a></li>
      <li class="arrow-icon"><a href="#about" class="toggle-link">About</a></li>
    </ul>
    <div id="pin" class="pinCode"></div>
  </div>
  <div class="main-content">
    <%- include('../partials/gameInstructions') %>
    <%- include('../partials/tableView') %>
    <%- include('../partials/chartView') %>
    <%- include('../partials/trainingView') %>
    <%- include('../partials/testView') %>
    <%- include('../partials/evaluationView') %>
    <%- include('../partials/decisionTree') %>
    <%- include('../partials/gameLeaderboards') %>
    <%- include('../partials/about') %>
  </div>
</body>
<script type="text/javascript">
  var group = <%= set %>;
  var requireEvaluationPin = <%= requireEvaluationPin %>;
  var sessionId = "<%= session %>";
  var leaderboardId = "<%= leaderboardId %>";
  var resultId = "<%= resultId %>";
  var isTutor = "<%= isTutor %>";
  var player_name = "";
  var attempt = 0;
  var storage = {};
  const randomPin = Math.floor(10000 + Math.random() * 90000);
  let requiredPasscode = 0;
  /*
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  group = urlParams.get('group');
  */
  if (!group) {
    group = 1;
  }
  getBlueCards(group,"blue");
  $('document').ready(function(){
    setTimeout(function() {
      renderCardsTable(cards.trainingSet);
      renderCards(cards.trainingSet,'training');
      chartData = cards.trainingSet;
      getRandomPurples(20);
      loadLeaderboardData();
    },500);

    if (requireEvaluationPin) {
      // Generate a random 5-digit numeric pin

      document.getElementById('pin').textContent = randomPin;
      document.getElementById('pin').style.display = 'block';

      // Apply the transformation to the random 5-digit numeric to get a 4-digit pin
      const transformedDigits = [];
      for (let i = 0; i < 4; i++) {
          const digit = parseInt(randomPin.toString()[i]);
          const fifthDigit = parseInt(randomPin.toString()[4]);
          const transformedDigit = (digit * 7 + fifthDigit) % 10;
          transformedDigits.push(transformedDigit);
      }
      requiredPasscode = transformedDigits.join('');
    }

    document.getElementById("groupcsv").href="/data/csvs/Group_" + group + ".csv";
    document.getElementById("grouppdf").href="/data/pdfs/Group_" + group + ".pdf";

    $('#condition_a').on('change', onchange);
    $('#condition_la').on('change', onchange);
    $('#condition_ra').on('change', onchange);
    $('#condition_rla').on('change', onchange);
    $('#condition_rra').on('change', onchange);
    $('#condition_lra').on('change', onchange);
    $('#condition_lla').on('change', onchange);

    $('#prediction_box_l').on('change', updatePredictions);
    $('#prediction_box_r').on('change', updatePredictions);
    $('#prediction_box_ll').on('change', updatePredictions);
    $('#prediction_box_lr').on('change', updatePredictions);
    $('#prediction_box_rl').on('change', updatePredictions);
    $('#prediction_box_rr').on('change', updatePredictions);
    $('#prediction_box_lll').on('change', updatePredictions);
    $('#prediction_box_llr').on('change', updatePredictions);
    $('#prediction_box_lrl').on('change', updatePredictions);
    $('#prediction_box_lrr').on('change', updatePredictions);
    $('#prediction_box_rll').on('change', updatePredictions);
    $('#prediction_box_rlr').on('change', updatePredictions);
    $('#prediction_box_rrl').on('change', updatePredictions);
    $('#prediction_box_rrr').on('change', updatePredictions);
  });
</script>
</html>