<%- include('../../partials/header') %>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1 id="title"><span class="fa fa-lock"></span>Sessions for leaderboard <span id="leaderboard-name"><%= id  %></span></h1>
        <a href="/leaderboard/<%= id %>/session/create"><button>Create New Session</button></a>
        <h2 style="color:red;" id="message"><%= msg %></h2>
        <table id="table" class="display responsive wrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End data</th>
                <th>User time limit</th>
                <th>Responses</th>
                <th>Play link</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="table_body">
        
        </tbody>
        </table>
    </div>
</div>
<script>
    function addToRow(row,value) {
        var td = document.createElement('td');
        td.innerHTML = value;
        row.append(td);
    }
    function addToRowLink(row,link,value) {
        var td = document.createElement('td');
        var a = document.createElement('a');
        a.setAttribute('href', link);
        a.innerHTML = value;
        td.append(a)
        row.append(td);
    }
    function addArrayToRow(row,array) {
        var output = "";
        for(var i=0;i<array.length;i++) {
            if (i>0) {
                output += ", ";
            }
            output += array[i];
        }
        addToRow(row,output);
    }
    function addDeleteLink(row,link,value) {
        var td = document.createElement('td');
        var a = document.createElement('a');
        a.setAttribute('href', '#');
        a.setAttribute('onClick','processDelete("'+link+'");')
        a.innerHTML = value;
        td.append(a)
        row.append(td);
    }
    function addCopyLink(row,link,value) {
        var td = document.createElement('td');
        var a = document.createElement('a');
        a.setAttribute('href', '#');
        a.setAttribute('onClick','copyText("'+link+'");')
        a.innerHTML = value;
        td.append(a)
        row.append(td);
    }
    function copyText(text) {
      navigator.clipboard.writeText(text);
      alert("Copied the text: " + text);
    }    
    function processDelete(link) {

        $.ajax({
            url: link,
            type: 'DELETE',
            success: function(result) {
                alert('session deleted');
                location.reload();
            }
        });
    }
    function getResponses(leaderboardId,sessionId) {
        $.getJSON('/leaderboard/'+leaderboardId+'/'+sessionId, function(data) {
            document.getElementById('responses_'+sessionId).innerHTML = data.length;
        });
    }
    $(document).ready( function () {
        $.getJSON('/leaderboard/<%= id %>', function(data) {
            document.getElementById('leaderboard-name').innerHTML = data.name;
        });
        $.getJSON('/leaderboard/<%= id %>/sessions', function(data) {
            for (var i=0;i<data.length;i++) {
                var row = document.createElement('tr');
                addToRow(row,data[i].name);
                addToRow(row,data[i].startTime);
                addToRow(row,data[i].endTime);
                addToRow(row,data[i].timeLimit);
                var td = document.createElement('td');
                td.setAttribute('id','responses_'+data[i]._id);
                td.innerHTML = "";
                row.append(td);
                getResponses("<%= id %>",data[i]._id,);
                addCopyLink(row,"/play/" + data[i]._id,"Copy");
                addToRowLink(row,"/leaderboard/<%= id %>/" + data[i]._id,"View");
                addToRowLink(row,"/leaderboard/<%= id %>/" + data[i]._id + "/edit","Edit");
                addDeleteLink(row,"/leaderboard/<%= id %>/" + data[i]._id,"Delete");
                if (data[i].name) {
                    document.getElementById('table_body').append(row);
                }
            }
            $('#table').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                pageLength: 25,
                buttons: [
                   'copy', 'excel', 'csv'
                ]
            });
        });
        
    });
</script>
<%- include('../../partials/footer') %>